---
import Layout from "../layouts/Layout.astro";
import Card from "../components/RepoCard.astro";
import BB8 from "../components/BB8.astro";
import Footer from "../components/Footer.astro";
import { fetchReposFromApi } from "../util";
import InfoCard from "../components/InfoCard.astro";
import Contact from "../components/Contact.astro";
import { getCollection } from "astro:content";
import { filterBlogPosts } from "../utils/blog";

// Check if blog posts exist
const allPosts = await getCollection("blog");
const posts = filterBlogPosts(allPosts);
const showBlog = posts.length > 0;

// fetch github api info of projects
let repos: Awaited<ReturnType<typeof fetchReposFromApi>>;
if (import.meta.env.PUBLIC_USE_GITHUB_API === "false") {
  repos = (await import("../example.json")).default as Awaited<
    ReturnType<typeof fetchReposFromApi>
  >;
} else {
  repos = await fetchReposFromApi();
}
---

<Layout title="Kalle Ahlström" showBlog={showBlog}>
  <main>
    <h1 class="slide-in-top">
      Welcome to <span class="text-gradient">kahlstrm.xyz</span>
    </h1>
    <InfoCard />
    <Contact />
    <h2 class="slide-in-bottom" style="animation-delay: 300ms;">
      Some cool projects I've made/contributed to:
    </h2>
    <ul role="list" class="link-card-grid">
      {
        repos.repos.map((repo, i) => (
          <Card
            body={repo.description}
            title={repo.owner.login === repos.self ? repo.name : repo.full_name}
            href={repo.html_url}
            lang={repo.language}
            index={i}
          />
        ))
      }
    </ul>
  </main>
  <div class="bb8-container">
    <BB8 />
  </div>
  <Footer slot="footer" />
</Layout>

<style>
  :root {
    --astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
  }

  h1 {
    margin: 1rem 0 0.5rem 0;
  }

  main {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .bb8-container {
    overflow-x: hidden;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }

  .text-gradient {
    font-weight: 900;
    background-image: var(--astro-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 200%;
    background-position-y: 100%;
    border-radius: 0.4rem;
    animation: pulse 4s ease-in-out infinite;
  }

  @keyframes pulse {
    0%,
    100% {
      background-position-y: 0%;
    }

    50% {
      background-position-y: 80%;
    }
  }

  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    background: #4f39fa;
    padding: 1rem;
    border-radius: 0.4rem;
    color: var(--color-bg);
  }

  .instructions code {
    font-size: 0.875em;
    border: 0.1em solid var(--color-border);
    border-radius: 4px;
    padding: 0.15em 0.25em;
  }

  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
