---
export interface Props {
  title: string;
  description: string;
  pubDate: Date;
  slug: string;
  tags?: string[];
  index: number;
}
const { title, description, pubDate, slug, tags, index } = Astro.props as Props;

const formattedDate = new Intl.DateTimeFormat("en-US", {
  year: "numeric",
  month: "short",
  day: "numeric",
}).format(pubDate);
---

<li
  class="blog-card slide-in-bottom"
  style={`animation-delay:${500 + 200 * index}ms`}
>
  <a href={`/blog/${slug}`}>
    <h2>
      {title}
      <span>&rarr;</span>
    </h2>
    <p class="description">
      {description}
    </p>
    <div class="meta">
      <time datetime={pubDate.toISOString()}>{formattedDate}</time>
      {
        tags && tags.length > 0 && (
          <span class="tags">
            {tags.map((tag) => (
              <a href={`/blog/tags/${tag}`} class="tag">
                #{tag}
              </a>
            ))}
          </span>
        )
      }
    </div>
  </a>
</li>

<style>
  :root {
    --link-gradient: linear-gradient(
      45deg,
      #4f39fa,
      #da62c4 30%,
      var(--color-border) 60%
    );
  }

  .blog-card {
    list-style: none;
    display: flex;
    position: relative;
    padding: 0.15rem;
    background-image: var(--link-gradient);
    background-size: 400%;
    border-radius: 0.5rem;
    background-position: 99%;
    transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  }

  .blog-card > a {
    width: 100%;
    text-decoration: none;
    line-height: 1.4;
    padding: 1em 1.3em;
    border-radius: 0.35rem;
    color: var(--text-color);
    background-color: #fff1c6;
    opacity: 0.8;
  }

  h2 {
    margin: 0;
    transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    word-break: break-word;
  }

  .description {
    margin-top: 0.75rem;
    margin-bottom: 0.5rem;
  }

  .meta {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
    align-items: center;
    font-size: 0.875rem;
    opacity: 0.8;
  }

  time {
    font-style: italic;
  }

  .tags {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
  }

  .tag {
    opacity: 0.7;
    color: inherit;
    text-decoration: none;
    transition: opacity 0.2s;
  }

  .tag:hover {
    opacity: 1;
    text-decoration: underline;
  }

  h2 span {
    display: inline-block;
    transition: transform 0.3s cubic-bezier(0.22, 1, 0.36, 1);
  }

  .blog-card:is(:hover, :focus-within) {
    background-position: 0;
  }

  .blog-card:is(:hover, :focus-within) h2 {
    color: #4f39fa;
  }

  .blog-card:is(:hover, :focus-within) h2 span {
    transform: translateX(2px);
  }
</style>
